[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=alacritty
Icon=alacritty-1337
Terminal=false
Categories=System;TerminalEmulator;

Name=alacritty-1337
GenericName=Terminal
Comment=alacritty but it doesn't suck
StartupNotify=true
StartupWMClass=alacritty-1337
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=alacritty
